* {
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.action{
    flex: 1;
    background-color: bisque;
}

.logo{
    width: 300px;
    background-color: aqua;
}